div(class="p+")
  div(class="card" style="width: 400px")
    div(class="p+")
      strong(class="fs-headline display-block")
        |Bienvenido
      span(class="fs-subhead tc-black-2 display-block")
        |Ingrese el destino de busqueda {{vm.persona}}
      div(class="paragraph fs-body-1 mt+")
        form.mt(name='signUpForm' novalidate sv-form-val)
            div(flex-container='column' flex)
                div(flex-item='')
                    lx-text-field(label='Ciudad de busqueda')
                        input(type='text'
                        name='busqueda'
                        ng-model='vm.busqueda'
                        mg-model-options = '{updateOn:"default "blur"}'
                        sv-unique-username
                        ng-minlength="2"
                        ng-maxlength="200"
                        required="error" )
    .card__actions.text-center(class="p+")
        button.btn.btn--l.btn--blue.btn--raised.btn-login(
            ng-click='vm.buscarDestinos()'
            ng-disabled="vm.loginForm.$invalid || vm.isRequest",
            ng-class="{'btn--is-disabled': vm.loginForm.$invalid}",
            lx-ripple,
            aio-loading-button="vm.isRequest",
        ) Buscar {{variable}}
